/**
    Title: site.css
    Author: Nolan Berryhill
    Date: 23 July 2023
    Description: Theme.css files for Personal Portfolio
*/

/** 
Styles for body
*/

html, body  {
    font-size: 20px;
    background-color:  #2CA565;
    border: 15px solid #90ffc5;
}

/** 
Styles for header and its lists
*/

#headerBar {
    background-color: aqua;
    text-align: center;
}

#headerBar li ul {
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
    border-radius: 20px;
}

#headerBar li {
    display: inline-block;
    text-align: center;
    padding: 15px;
}
/** 
Styles for h1, h2, h4
*/

h1 {    
    font-family: 'Quicksand', sans-serif, "Times New Roman", 'Spectral', serif;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    vertical-align: text-top;
    line-height: 1.4em;
    word-spacing: .2em;
}

h2 {
    text-align: center;
}

h4 {
    text-align: center;
}

/** 
Styles for landing write
*/

.landingWrite {
    text-align: center;
    font-size: large;
}

/** 
Styles for about par
*/

.aboutPar {
    text-align: center;
    font-size: large;
}

/** 
Styles for family and kids section
*/

#Family {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 10%;
}

.Kids {
    display: block;
    margin: auto;
    border-style: solid;
    border-color: #2C2FA5;
    padding: 5px;
    border-radius: 15px;
}

.Kids img {
        width: 300px;
        height: 200px;
}

/** 
Styles for grids
*/

#grid-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 15%;
}

.Project {
    text-align: center;
}

.grid-item {
    border: 3px solid black;
    padding: 20px;
    margin: 10px;
    border-radius: 30px;
}

.grid-item img {
    width: 300px;
    height: 200px;
}

/** 
Styles for footer list
*/

#footBar li {
    text-align: center;
    text-transform: uppercase;
    list-style-type: none;
}

#footBar a {
    display: list-item;
    text-align: center;
}

/** 
Styles for app header
*/

.app-header {
    text-align: center;
    text-decoration: solid;
}

/** 
Styles for bucket lists
*/

#bucket-list {
    display: grid;
    grid-template-columns: 35% 55%;
    padding: 15%;
}
.listOne ul {
    list-style-type: none;
    text-align: left;
}

.listOne h2 {
    text-align: left;
}

.listTwo ul {
    text-align: right;
    list-style-type: none;
}

.listTwo h2 {
    text-align: right;
}

/** 
Styles for resume
*/

#resume {
    text-align: center;
}

#resume ul {
    list-style-type: none;
}