/**
    Title: site.css
    Author: Nolan Berryhill
    Date: 12 July 2023
    Description: Theme.css files for Personal Portfolio
*/

/** 
Styles for body
*/

html, body  {
    font-size: 20px;
    background-color:  #2CA565;
    border: 15px solid #90ffc5;
}

/** 
Styles for header
*/

#header {
    text-align: center;
}

/** 
Styles for h1
*/

h1 {    
    font-family: 'Quicksand', sans-serif, "Times New Roman", 'Spectral', serif;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    vertical-align: text-top;
    line-height: 1.4em;
    word-spacing: .2em;
}

/** 
Styles for footer
*/

#footer {
    font-family: 'Quicksand', sans-serif, "Times New Roman", 'Spectral', serif;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}