/**
    Title: site.css
    Author: Nolan Berryhill
    Date: 12 July 2023
    Description: Theme.css files for Personal Portfolio
*/

/** 
Styles for body
*/

html, body  {
    font-size: 20px;
    background-color:  #2CA565;
    border: 15px solid #90ffc5;
}

#headerBar {
    background-color: aqua;
    text-align: center;
}

#headerBar li ul {
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
    border-radius: 20px;
}

#headerBar li {
    display: inline-block;
    text-align: center;
    padding: 15px;
    font-display: none;
}
/** 
Styles for h1
*/

h1 {    
    font-family: 'Quicksand', sans-serif, "Times New Roman", 'Spectral', serif;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    vertical-align: text-top;
    line-height: 1.4em;
    word-spacing: .2em;
}

h2 {
    text-align: center;
}

h4 {
    text-align: center;
}

.landingWrite {
    text-align: center;
    font-size: large;
}

.aboutPar {
    text-align: center;
    font-size: large;
}
/** 
Styles for footer
*/

#footBar li {
    text-align: center;
    text-transform: uppercase;
}

#footBar a {
    display:list-item;
    text-align: center;
    font-display: none;
}